body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4eaef;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #7a8fa8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #627b96;
}

.bttn-style {
    padding: 10px 20px;
    background-color: #7a8fa8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bttn-style:hover {
    padding: 10px 20px;
    background-color: #7a8fa8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}